<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Allocate Task</title>
</head>
<body>
    <h1>Allocate Task</h1>

    <form class="" action="/api/auth/allocate-task" method="POST" enctype="application/x-www-form-urlencoded">
        <div class="">
            Worker ID :
            <input type="text" name="wid" id="" required>
            Task ID :
            <input type="text" name="tid" id="" required>
            
            Asset ID :
            <input type="text" name="aid" id="" required>
            
            Date To Be Completed By :
            <input type="text" name="date" id="" required>
            
        </div>
        <br />
        <button type="submit" class="">Allocate Task</button>
    </form>

</body>
</html>