<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Worker</title>
</head>
<body>
    <h1>Add Worker</h1>

    <form class="" action="/api/auth/add-worker" method="POST" enctype="application/x-www-form-urlencoded">
        <div class="">
            Worker Name
            <input type="text" name="name" id="" required>
            Worker ID
            <input type="text" name="id" id="" required>
            
            Worker Description
            <input type="text" name="description" id="" required>
            
            Worker Skills
            <input type="text" name="skills" id="" required>
            
        </div>
        <br />
        <button type="submit" class="">Add Worker</button>
    </form>

</body>
</html>